<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Umbriel.ArcMapUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Umbriel.ArcMapUI.Properties.Settings>
            <setting name="GeohashIDLaunchURL" serializeAs="String">
                <value>http://www.geohash.org/~~GEOHASH~~</value>
            </setting>
            <setting name="GeohashIDLaunchURLEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddPhotoPointLastUsedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AddPhotoPointColumnWidths" serializeAs="String">
                <value>101,67,68,128,57,60,118</value>
            </setting>
        </Umbriel.ArcMapUI.Properties.Settings>
    </userSettings>
</configuration>