<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Umbriel.ArcGIS.Spatialite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Umbriel.ArcGIS.Spatialite.Properties.Settings>
            <setting name="AddSpatialiteLastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportSpatialite_HighlightChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportSpatialite_OnlyCurrentExtent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportSpatialite_OnlySelectedFeatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BasicSQliteConnectionString" serializeAs="String">
                <value>Data Source={0};Version=3;</value>
            </setting>
        </Umbriel.ArcGIS.Spatialite.Properties.Settings>
    </userSettings>
</configuration>